.navbar {
    display: flex;
    background-color: rgb(26, 20, 31);
}

.nav-list {
    display: flex;
}

.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: white;   
}

.nav-list a:hover {
    background-color: rgb(49, 47, 90);
}

.nav-btn {
    display: none;
}

@media (max-width: 1000px) {
    .nav-btn {
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 3px;
        border: none;
        background-color: rgb(49, 47, 90);
        color: white;
        display: block;
        cursor: pointer;
    }
    .nav-list {
        display: none;
    }

    .nav-btn:hover {
        background-color: (49, 47, 90);
    }

    .drop:hover .nav-list {
        display: block;
        position: absolute;
        top: 50px;
        right: 1px;
        background-color: rgb(49, 47, 90);
    }
    .navbar {
        justify-content: space-between;
    }
}